legacy-peer-deps=true
audit-level=none
fund=false
save-exact=false
strict-ssl=true
registry=https://registry.npmjs.org/
auto-install-peers=true
prefer-offline=false
force=true
strict-peer-deps=false
fetch-retry-maxtimeout=120000
fetch-retry-mintimeout=10000
fetch-timeout=120000

